@import 'src/components/Variables';

.header {
  position: fixed;
  font-family: var(--main-font);
  height: 10vh;
  width: 100%;
  padding-right: 5%;
  padding-left: 2%;
  top: 0;
  left: 0;
  z-index: 1;
  transition: .3s ease-in;
  overflow: hidden;
  background-image: linear-gradient(
    to bottom,
    var(--nav-background),
    var(--nav-background) 80%,
    var(--nav-background-2) 80%,
    var(--nav-background-2) 100%
  );
}

.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
 // max-width: 1240px;
  margin: 0;
  height: 100%;
  padding: 0;
}

.header .navbar img{
  margin-top: 5px;
}

.header .nav-menu {
  display: flex;
  list-style: none;
  align-items: baseline;
  margin: 0;
  padding: 0;
  margin-right: 10vw;

  
}

.header .nav-item{
  margin-left: 3rem;
}

.header .nav-menu a{
  color: var(--nav-link-color);
  text-decoration: none;
  font-size: 1.8rem;
}

.header .nav-menu button{
  background: none;
  border: none;
  cursor: pointer;
  color: var(--nav-link-color);
  font-style: var(--main-font);
  font-size: 1.8rem;
}

.header .nav-menu a:hover{
  color: var(--nav-link-color-hover);
}

.header .nav-menu button:hover{
  
  color: var(--nav-link-color-hover);

}

.bars{
  display: none;
}

.profile-things, .avatar{
  list-style: none;
  font-family: var(--main-font);
  color: var(--nav-link-color);
  padding: 0;
  margin: 0;
}

.profile-things h1{
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

.prof{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding-top: 10px;
  border: 2px solid red;
}

.avatar{
  margin-top: -10px;
}

.avatar-piece{
    height: 30px;
    width: 70px;
    display: flex;
    justify-content: center;
    padding: 0;
}


@media screen and (max-width: 1355px){

  .avatar-piece{
    height: 25px;
  }

  .profile-things h1{
    font-size: 0.8rem;
  }

}

@media screen and (max-width: 1261px){

  .avatar-piece{
    height: 25px;
  }

  .profile-things h1{
    font-size: 0.6rem;
  }

  .prof{
    margin-top: 12px;
    grid-gap: 20px;
  }
}

@media screen and (max-width:900px){

  .bars{
    display: block;
    padding-right: 10%;
  }

  .nav-menu{
    position:fixed;
    left: -100%;
    top: 10vh;
    flex-direction: column;
    background-color: var(--transparent-background);
    width: 100%;
    height: 90vh;
    z-index: 999;
    transition: .3s;
  }

  .nav-menu.active{
    left: 0;

  }

  .profile-things h1{
    font-size: 0.8rem;
  }

  .prof{
    margin-top: 0px;
    grid-gap: 20px;
  }

  .nav-item{
    margin: 1.5rem 0;
    align-self: center;
  }

}