@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{

    --main-font: 'Poppins', sans-serif;

    --nav-background: #161b31;
    --nav-background-2: #5D0D2D;
    
    --nav-link-color: #EEDF93;
    --nav-link-color-hover: #e7e1c3;

    --lightgreen: lightgreen;
    --lightgreen-hover: rgb(79, 233, 79);

    --color-background: #C7F5FF;
    --color-background-2: rgb(70, 66, 66,.25);

    --transparent-background: rgba(0, 0, 0, .78);

    $darkred: #5D0D2D;


}