.new-post{
    font-family: var(--main-font);
    width: 600px;
    margin: 3rem auto;
    
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: .95rem;
    z-index: 10;
    position: fixed;
    top: 10vh;
    left: calc(50% - 300px);
    text-align:center;
    background: white;
}

.post-something{
    margin: 0;
}

.post-name input{
    width: 95%;
    height: 1.1cm;
    border: 1px solid var(--nav-background);
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 1%;
    margin-top: 1%;
    
    
}

.post-body textarea{
    font-size: large;
    width: 94%;
    resize: none;
}
#submitButton{
    background-color: lightblue;
    font-size: 120%;
    font-family: var(--main-font);
    color: darkgreen;
    width: 95%;
    height: 1cm;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
}

#submitButton:hover{
    background-color: rgb(120, 208, 238);
    color: rgb(49, 209, 49);
}

@media screen and (max-width: 675px){
    .new-post{
        width: 90%;
        left: 5%;
    }

}