@import '../../Variables.scss';

.goal-page{
    height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top:0;
    
    z-index: -1;
    
}

.goal-container{
   
    margin: 6rem auto;
    font-family: var(--main-font);
    text-align: center;
    width: 90vw;
    min-width: 375px;
    
}

.goal-container .i-hate-having-to-add-this{
    
    display: grid;
    grid-template-columns: 35fr 1fr;
    align-items: center;
    
}

.add{
    color: var(--lightgreen);
}

.add:hover{
    color: var(--lightgreen-hover);
}

.goal-container .task-list {
    
    
    list-style: none;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
    padding-left: 0;
    
}



.task-list-item{
    min-height: 100px;
    padding: auto;
    
}