@import '../../Variables.scss';
.store-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.store-items{
    list-style: none;
    width: 1150px;
    margin: 14vh 0;
}

.hat-items, .shirt-items, .pants-items{
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
    height: 15vh;
    grid-gap: 10px;
   
}


.go-away{
    display: none;
}

.item{
    height: 125px;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    
}

.blocked{
    background: rgba(82, 82, 82, 0.479);
    
}

.locked{
    margin: auto;
    font-family: var(--main-font);
    font-size: 1.5em;
}

 .item:hover{
    border: 1px solid black;

}

#selected{
    border: 1px solid black;
}

#not-selected{
    border: 1px solid grey;
}

@media screen and (min-width: 1440px){
    .store-items{
       
        width: 1150px;
        margin-left: calc(50% - 575px);
        
    }
}

@media screen and (max-width: 1600px){

    .store-items{
        width: 90%;
        padding-left: 20%;
    }
    
}
@media screen and (max-width: 1260px){

    .store-items {
        width: 90%;
        padding-left: 5%;
    }
    

}

@media screen and (max-width: 1163px){

    .store-items {
        width: 90%;
        padding-left: 10%;
        margin: 14vh 0;
    }

    .hat-items{
        margin-bottom: 150px;
       
    }
    
}
@media screen and (max-width: 898px){
    .store-items{
        padding-left: 2.5%;
    }
}


@media screen and (max-width: 878px){

    .store-items{
        width: 90%;
        padding-left: 10%;
    }
    .hat-items{
        margin-bottom: 300px;
       
    }
    

}

//selected settings

.selected-items{
    list-style: none;
    margin: 14vh auto;
}

.selected-item{
    height: 125px;
    width: 250px;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}



@media screen and (max-width: 555px){

    .store-container{
        display: inline-block;
        margin: 0 auto;
        margin-left: calc(50% - 125px);
    }
    .selected-items{
        padding-left: 0;
    }
    .store-items{
        padding-left: 0;
    }
    
    
}