.post-list{
    list-style: none;
    padding-left: 0;
    width: 30vw;
    margin: 3vh auto;
}

.post-list-item{
    margin-bottom: 20px;
}

.all-posts .i-hate-having-to-add-this{
    
    margin-top: 12vh;
    padding-left: 90%;
}

.add{
    color: grey;
}

.add:hover{
    color: black;
}

@media screen and (max-width: 1520px){

    .post-list{
        width: 450px;
    }
    

}

@media screen and (max-width: 480px){

    .post-list{
        width: 90%;
    }
    

}

.post-page-dropdown{
    
    width: 27vw;
    margin: -2vh auto;
    padding-right: 3vw;
    text-align: center;
    font-family: var(--main-font);
    min-width: 300px;
}
.post-topics-label{
    margin-left: 10%;
    font-size: 30px;
}

select{
    width: 10em;
    text-align: center;
    height: 0.8cm;
    font-size: 1.1em;
}

