@import '../Variables.scss';

.card{
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    color: black;
    font-family: var(--main-font);
    border-radius: .95rem;
    text-align: center;
    margin: 0;
    padding: 0;
    max-width: 500px;
    height: 100%;
    display: flex;
}

.c{
    flex-direction: column
}

.task-title-c{
    margin: auto;
}

.overdue{
    
    box-shadow: 0 4px 8px rgb(179, 94, 94);
}

.goal-title{
    margin: auto;
    width: 85%;
    max-width: 85%;
    overflow-wrap: break-word;
}

.task-title{
    margin: auto;
    
}

.options{
    height: 100%;
    width: 15%;
    min-width: 15%;
}


.checkmark{
    border-top-right-radius: .95rem;
    background: Var(--lightgreen); 
    border: none;
    height: 50%;

}

.x-mark{
    border-bottom-right-radius: .95rem;
    background: rgb(245, 118, 118);
    border: none;
    height: 50%;
}

.date{
    text-align: center;
}
.late{
    color:rgb(245, 118, 118);
}


/*
.card .card-cont{
    display: flex;
    justify-content: space-between;
    align-items: left;
   
    margin: 0;
    height: 100%;
    padding: 0;
    text-align: center;
    
    border: 2px dashed green;
    max-height: 3.6cm;
    
}

.card-cont .options {
    
    display: flex;
    flex-direction: column;
    list-style: none;
    
    margin: 0;
    padding: 0;
    height: 100%;   
}

.options-item button{
    height: 1.8cm;
    border: none;

    background:none;
}

.options-item .checkmark{
    border-top-right-radius: .95rem;
    background: Var(--lightgreen);
    
}
.options-item .x-mark{
    border-bottom-right-radius: .95rem;
    background: rgb(245, 118, 118);
    
}


@media screen and (max-width: 1000px ){

    .card .card-cont{
       
        max-height: 2.9cm;
        
    }

    .options-item button{
        height: 1.45cm;
        
    }
}
*/