@import 'src/components/Variables';

.main{
    height: calc(100vh - 100px);
    width: 100%;
    position: absolute;
    left: 0;
    top:100px;
    z-index: -2;

    overflow: hidden;

    background: $light-blue;


    .background{
        display: block;
        position: absolute;
        top: 0;
        left: -10%;
        width: 130%;
        z-index: -3;

    }

    .button-wrapper{

        display: flex;


        justify-content: space-evenly;
        margin:0;
        align-items: center;
        padding-bottom: 0;
        padding-left: 30%;
        padding-right: 30%;

        .button{
            margin-top: 500px;
            width: 13rem;
            height: 2cm;
            border:none;
            color: var(--nav-link-color);
            font-family: var(--main-font);
            font-size: 1rem;
            h1{

                justify-content: center;
                margin: auto 0 auto 2.5%;

            }

            background-image: linear-gradient(
                            to right,
                            var(--nav-background-2),
                            var(--nav-background-2) 5%,
                            var(--nav-background) 5%,
                            var(--nav-background) 100%
            );

        }


    }

  

}

.background2{
    display: none;
}



.main .button:hover{
    color: var(--nav-link-color-hover);
}

@media screen and (max-width: 1400px){

    .main .button-wrapper{
        margin-top: 300px;
        padding-left: 25%;
        padding-right: 25%;
        .button{
            margin-top: 30px;
        }
 
    }

}

@media screen and (max-width: 700px){

    .button-wrapper{
        flex-direction: column;
    }
}

@media screen and (max-width: 985px){

    .main .button-wrapper{
        padding-left: 20%;
        padding-right: 20%;
        margin-top: 100px;
     }

    .main .button{
        font-size: 2rem;
    }

    .main .background{
        display: none;
    }

    .background2{
        display: block;
        margin: 200px auto 0 auto;
        width: 80%;


    }



}


@media screen and (max-width: 600px){

    .main .button-wrapper{
        padding-left: 10%;
        padding-right: 10%;
 
     }
    
}


